.product-card {
	min-height: 300px;
	background-color: #3b3b3b;
	border-radius: 16px;
	margin-bottom: 20px;
	padding: 10px 20px;
}

.product-card h4 {
	font-size: 26px;
	margin-bottom: 8px;
	margin-top: 4px;
}

.label-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 20px;
}

.description-container{
	height: 70px;
	margin-bottom: 10px;
}

img {
	width: 100px;
	border-radius: 8px;
}
