.header {
	border-bottom: 2px solid var(--color-primary);
	margin-bottom: 32px;
	padding-bottom: 20px;
}
.header > img {
	width: 240px;
}

.footer {
	border-top: 2px solid var(--color-primary);
	margin-top: 32px;
	padding-top: 20px;
}
