

ul.navbar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 10px;

	list-style-type: none;

	margin: auto;
	padding: 0px;
	border-radius: 4px;
	height: 36px;

	background-color: #3b3b3b;
  margin-bottom: 40px;

  width: 100%;
}

ul.navbar a {
	font-weight: 700;
	color: #30e3df;
}
