.center {
  justify-content: center !important; 
}
.weather-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 60px 0px;
}

h1 {
	font-size: 32px;
	margin-bottom: 20px;
  font-weight: 700;
}

.item-container {
	display: flex;
	flex-direction: column;
	width: 140px;
	height: 126px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.icon-wrapper {
	width: 48px;
	height: 48px;
	margin-top: 5px;
}
.icon-wrapper > img {
	width: 100%;
}
.visual-container {
	display: flex;
	flex: 1;
	align-items: center;
	flex-direction: column;
	background-color: var(--color-primary-light);
	border-radius: 8px 8px 0px 0px;
	padding: 10px 0px;
}

.value-container {
	width: 140px;
	height: 34px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	font-size: 20px;
	background-color: var(--color-light);
	border-radius: 0px 0px 8px 8px;
}
